/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
GENERAL 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
h1 {
    font-size: 36px;
    font-weight: 900;
}

.container {
    max-width: 900px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
NAV 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
nav {
    border-bottom: 1px solid #ededed;
}

.navbar > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container ul {
    display: flex;
}

nav .container ul li {
    margin: 0 10px;
    font-size: 12px;
}

.logo {
    background: url('./img/logo.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;

    height: 30px;
    width: 30px;
}

@media (max-width: 600px) {
    nav .container {
        padding: 0 30px;
    }

    nav .container ul {
        display: none;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
CARDS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Your styles go here */

div.card-row {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.part {
    margin: 0 10px ;
    width: 29%;
    height: 250px;
    box-shadow: 5px 5px 5px darkgray;  
    border-radius: 5%; 
    margin-bottom: 10px;
    position: relative;
}

.part h4 {
    font-weight: 300;
    padding: .5rem;
    text-transform: uppercase;
    color: lightgray;
    margin-left: .5rem;
}

.part h2 {
    font-weight: 700;
    padding: 0 .5rem;
    color: white;
    font-size: 1.25rem;
    margin-left: .5rem;
    
}

.part button {
    position: absolute;
    top: 70%;
    left: 5%;
    padding: .5rem;
    width: 50%;
    border-radius: 8%;
    font-weight: 700;
    margin-left: .5rem;
    background-color: white;
}

